<!DOCTYPE html>
<html>
<head>
  <title>MyProfile</title>
  
  <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDt8EzE9FGbuWLj6_3oWH2q7wH-Qu-iodI"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

     <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
